.card {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    margin: 1.1em;
    text-decoration: none;
    box-shadow: 4px 2px 11px 0px #888888;
}

.link-to-detail {
    text-decoration: none;
    /* border: 1px solid blue; */
}

.card-media {
    display: flex;
    justify-content: center;
    background-image: url("https://placeimg.com/640/480/people?t=1577499889438");
    height: 370px;
    width: 100%;
    text-decoration: none;
    border-radius: 20px;
}

.card-content {
    width: 100%;
    color: #fff;
    width: 222px;
    /* border: 1px solid #000000; */
    border-radius: 20px;
    text-decoration: none;
}

.name {
    display: flex;
    padding-left: 0.4em;
    font-weight: bold;
    font-size:28px;
    margin-top: 8.5em;
    text-decoration: none;

}

.desc {
    font-weight: bold;
    font-size:16px;
    padding-left: 0.8em;
    text-decoration: none;
}

.rate {
    margin-top: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
 
}

.skill {
    margin-top: 0.5em;
    padding-left: 0.8em;
    padding-bottom: 0.5em; 
}
 .card-black {
    position: absolute;
    height: 140.5px;
    border-radius: 0 0 20px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.25;
    width: 222px;
    margin-top: 14.35em;
} 